{% extends 'base.html' %}

{% block body %}
{% if msgs %}
    {% autoescape false %}
        <script>SetLocalStorage({{ msgs }});</script>
        {% if done %}
           <script>window.location.replace("https://banakmis.herokuapp.com/");</script>
        {% endif %}
        {% if number %}
            <script>SendStartNumber({{ number }}); window.location.replace("https://banakmis.herokuapp.com/get_msgs");</script>
        {% endif %}
    {% endautoescape %}
{% endif %}
<article class="msgs">
</article>
<script>
    CheckLocalStorage();
</script>
{% if not status %}
    <script>UpdateMsgs();</script>
{% endif %}
{% endblock %}